    <p>To validate the results of a scan, please upload a warehouse manifest file, and select a scan to compare it to.</p>    
    <table>
        <tr>
            <td>Scan ID</td>
            <th>Created At</th>
            <th>Compare With Manifest</th>
            <th></th>
        </tr>
        <% scans.each do |scan| %>
            <%= form_tag({controller: 'comparisons', action: 'create'}, method: 'post', multipart: true) do %>
                <%= hidden_field_tag :scan_id, scan.id %>
                <tr id='<%= "unverified-scan-row-#{scan.id}" %>'>
                    <td><%= scan.id %></td>
                    <td><%= scan.created_at %></td>
                    <td>
                        <%= file_field_tag 'manifest' %> </td>
                    <td>
                        <%= submit_tag 'Compare' %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </table>
